/signatures-of-MOiAIS-students-2-1/
/signatures-of-MOiAIS-students-2-4/
/signatures-of-MOiAIS-students-3-1/
/ultralytics/
/yolov5/
/runs/detect/train2/
/runs/detect/train3/
/runs/detect/train4/
/runs/detect/train5/
/runs/detect/train6/
/runs/detect/train7/
/runs/detect/train8/
/runs/detect/train9/
/runs/detect/train10/
/runs/detect/train11/
/runs/detect/train12/
/runs/detect/train13/
/runs/detect/train14/
/runs/detect/train15/
/runs/detect/train16/
/runs/detect/train17/
/runs/detect/train18/
/runs/detect/train19/
/runs/detect/train20/
/runs/detect/train21/
/runs/detect/train22/
/runs/detect/train23/
/runs/detect/train24/
/runs/detect/train25/
/runs/detect/train26/
/runs/detect/train27/
/runs/detect/train28/
/Lib/
/Scripts/
/share/
/Data/create_dataset_with_signature/
/runs/detect/train/
/signatures-of-MOiAIS-students-3-2/
